.login {
    margin-right: 5px;
    width:30%;
    
}
.form-control {
    width: 50%;
    margin-left: 25%;
    
}
.parent {
    text-align: center;
    margin-top: 10%;

   

}
form {
    /* Size & position */
    width: 50%;
    margin: 60px auto 30px;
    
    padding: 55px 25px;

    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);

}



