.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 1 0 21%; /* explanation below */
  margin: 30px;
  width: 100%;
  overflow: auto;
  padding: 2%;
  margin-left: 5%;
  height: 510px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.bg {
  position: fixed;
  top: 30;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
