<header></header>

<!--
  <section class="container">
    <div *ngFor="let movie of Movies">
      <div class="card">
        <img
          class="poster"
          src="{{movie.poster}}"
          alt="Avatar"
          style="width:100%"
        />
        <div class="">
          <h4>
            <b>{{ movie.title }}</b>
          </h4>
          <p>{{ movie.plot }}</p>
        </div>
      </div>
    </div>
  </section>
-->
<img
  class="bg"
  src="https://images4.alphacoders.com/913/thumb-1920-913715.jpg"
  alt=""
/>

<section class="container">
  <div *ngFor="let movie of Movies">
    <div class="row">
      <div class="col-sm card" [routerLink]="['/moviedetails', movie.movie_id]">
        <img class="poster" src="{{movie.poster}}" alt="Avatar" />
        <b>{{ movie.title }}</b>
      </div>
    </div>
  </div>
</section>
