<header></header>

<div class="card mb-3" *ngIf="movie" id="mycard">

  <div class="row">
    <div class="column" style="background-color:#aaa;">
      <img class="poster" src={{movie.poster}} class="card-img-top" alt="...">
    </div>
    <div class="column" style="background-color:rgb(245, 234, 234);">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.plot}}</p>
        <p class="card-text">Writer: {{movie.writer}}</p>
        <p class="card-text">Production: {{movie.production}}</p>
        <p class="card-text">Actors: {{movie.actors}}</p>
        <p class="card-text"><small class="text-muted">Website: <a href="{{movie.website}}"
              target="blank">{{movie.website}}</a></small></p>
      </div>

    </div>
    <div class='card-footer'>
      <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
  </div>
</div>